@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,300;1,900&family=Roboto+Mono:ital,wght@0,100;0,300;1,100;1,300&family=Roboto:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.navegacao{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    cursor: pointer;
}

.linha{
    width: 100%;
    background-color: white;
    height: 3.3px;
    box-shadow: 0.1rem 0.1rem 0.3px black;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.842);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.text-inicial{
    position: absolute;
    left: 15%;
    top: 30%;
}

.text-inicial h1{
    color: white;
    font-size: 3rem;
    font-family: "Lato", serif;
    font-weight: 300;
    text-shadow: .2rem .3rem 3px black;
}

.text-inicial p{
    font-family: 'Roboto Mono' serif;
    font-style: italic;
    font-weight: 300;
    color: rgb(0, 235, 252);
    margin-bottom: 7px;
}

.text-inicial button{
    font-family: 'Roboto' serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background: #009fff;
    background: -webkit-linear-gradient(to right, #009fff, #ec2f4b);
    background: linear-gradient(to right, #009fff, #ec2f4b); 
    padding: 12px;
    border: none;
    cursor: pointer;
}

.text-inicial button:hover{
    opacity: 0.8;
}

.barranav{
    width: 300px;
    height: 550px;
    background-color: white;
    position: fixed;
    top: 25px;
    right: -300px;
    transition: all 1s;
}
.barranav.show-menu{
    right: 20px;
}

.menu{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.menu-item{
    text-align: center;
    margin-bottom: 10px;
}

.menu-link{
    font-family: Verdana;
    font-size: 25px;
    color: rgba(211, 3, 200, 0.973);
    transition: color 0.3s;
}
.menu-link:hover{
    color: turquoise;
}

.midias{
    position: absolute;
    bottom: 30px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.midias i{
    color:rgba(211, 3, 200, 0.973);
    transition: color 0.3s;
    height: 30px;
    width: 30px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midias i:hover{
    color: turquoise;
}


.quemsomos{
    display: flex;
    text-align: center;
    background: #009fff;
    background: -webkit-linear-gradient(to right, #009fff, #ec2f4b);
    background: linear-gradient(to right, #009fff, #ec2f4b);
}
.quemsomos h1{
    color: rgb(108, 1, 150);
    font-size: 50px;
}
.quemsomos p{
    color: white;
}
